@font-face {
  font-family: "Oswald";
  src: url("fonts/Oswald-Regular.ttf") format("truetype");
  font-family: "Pixel";
  src: url("fontes/Pixel.ttf");
}

* {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #0d262d;
  color: #fff;
  height: 100%;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background-image: url("../img/pista.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

[wm-enduro] {
  position: relative;
  border: 5px solid darkgray;
  width: 700px;
  height: 1200px;
  margin: 15px;
  overflow: hidden;
  transform: rotate(270deg);
}

.passaro {
  position: absolute;
  width: 60px;
  left: calc(50% - 30px);
  transform: rotate(90deg);
}

.par-de-barreiras {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.barreira {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barreira .borda {
  height: 30px;
  width: 130px;
  background: linear-gradient(90deg, #b1b8aa, #e7e7e1);
  border: 2px solid #000;
}

.barreira .corpo {
  height: 40px;
  width: 110px;
  background: linear-gradient(90deg, #161615, #0d0e0d);
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

.progresso {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: Pixel;
  font-size: 70px;
  z-index: 100;
  transform: rotate(90deg);
}

.bateria {
  width: 50px;
  height: 50px;
  position: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("/img/gasolina.png");
}

/* BARRA DE ENERGIA */
#energia {
  position: absolute;
  top: 342px; 
  left: 330px; 
  width: 700px;
  height: 20px;
  z-index: 100;
  -webkit-appearance: none;
  appearance: none;
  transform: rotate(90deg);
}

/*BATERIAS DO CENÁRIO*/
#tela-de-baterias,
.baterias {
  position: fixed;
  width: 100%;
  height: 100%;
}

.bateria {
  width: 9%;
  height: 90px;
  position: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("/img/carro2.png");
}

